
:root {
    --white: #dcd9d8;
    --black: #242427;
    --grey: #5b5e66;
    --yellow: #f58a15;
    --lightgrey: #95979f;
    --bg-color:#252528;
    
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	list-style: none;
    text-decoration: none;
    color: #f5f5f5;
}
html {
  height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #252528;
    min-height: 100vh;
    min-width: 375px;
    
    /*background: linear-gradient(180deg, rgba(26,78,114,1) 0%, rgba(26,78,114,1) 70%, rgba(36,36,39,1) 100%);*/
}

/* HEADER */ 

header {
    background: linear-gradient(180deg, rgba(26,78,114,1) 0%, rgba(36,36,39,1) 100%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
}

.header-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(36, 36, 39, 1)), url("../media/lightningwires.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-page {
    height: 100vh;
    background-size: cover;
    background-position: center;
} 


.header-logo {
    width: 100px;
    height: 100px;
}

.main-title {
    position: relative;
    top: -75vh;
    
}

.main-title, .main-sub-title {
    font-size: 10rem;
    letter-spacing: 2px;
    font-weight: 800;
    color: whitesmoke;
    text-align: center;
    font-family: 'Montserrat';
    text-shadow: 2px 2px 10px rgba(36, 36, 39, 1);
}

.main-sub-title {
    font-size: 5rem;
    margin: 4rem;
}

.main-subtitle-flex {
    margin-bottom: 10rem;
}

/* HAMBURGER MENÜ */



.nav-checkbox {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 0 0;
    max-width: 1000px;
    justify-content: space-evenly;
}

.nav-list__elem {
    font-size: 2rem;
    font-weight: 500;
    margin: 0rem;
    padding: .5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(36, 36, 39, 1);
}

.nav-list__elem:hover {
    color: rgb(253, 250, 250);
    transition: color border 0.2s;
    border-bottom: 1px solid;
    border-top: 1px solid;
    text-shadow: 1px 1px 5px rgba(253, 250, 250, 1);

}



/* MAIN */

main {
    background-color: var(--black);
    
   
}

.rolunk {
    max-width: 75%;
    margin: 0 auto;
}
.rolunk-main {
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
    margin: 0rem auto 10rem auto;
    padding-bottom: 3rem;
    border-bottom: 2px solid;
}

.rolunk-main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rolunk-text {
    padding: 5rem;
    line-height: 200%;
}

.img-szerelo {
    object-fit: contain;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    border: 2px solid;
}


.services {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    justify-content: center;
    
}

.service-main-box {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.service-main, .contact {
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
    margin: 15rem auto 4rem auto;
    
}


.service-main-item {
    font-size: 3rem;
    margin: 2.5rem;
}

.callme-box{
    display: flex;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
    padding: 8rem 0;
    border-bottom: 2px solid;
    
}

.callme-box-item-1 {
    max-width: 40%;
    
}
.callme-box-item-1 p {
    font-size: 3rem;
    padding: 1rem;
    line-height: 4rem;
}

.contactme {
    display: block;
    font-size: 3rem;
    padding: 1rem;
}

.contactme:hover {
    color: rgb(253, 250, 250);
    transition: color 0.2s;
    text-shadow: 1px 1px 5px rgba(253, 250, 250, 1);
}



/* ŰRLAP */

.contact {
   
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    color: var(--main-input-color);
    border-bottom: 2px solid whitesmoke;
    margin: 1rem auto 0 auto;
    padding: 1rem 0;

}

.inputBox {
    position: relative;
    width: 80%;
  }
  
  .inputBox input,
  .inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--white);
    outline: none;
    font-size: 2rem;
    transition: 0.5s;
    background: none;
  }
  
  .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    font-size: 2rem;
    pointer-events: none;
    text-transform: uppercase;
    transition: 0.5s;
  }
  
  /* Mezőbe kattintás utáni állapot */
  
  .inputBox input:valid ~ span,
  .inputBox input:focus ~ span,
  .inputBox textarea:valid ~ span,
  .inputBox textarea:focus ~ span {
    color: var(--bg-color);
    transform: translateX(10px) translateY(-7px); /* Elhelyezi a szöveget a borderen */
    font-size: 1.2rem; /* Betüméret akkora, hogy elférjen */
    padding: 0 10px;
    background: white; /* Megtöri a bordert, így háttérszínnel azonos színű kell hogy legyen */
    border-left: 1px solid black;
    border-right: 1px solid black;
    letter-spacing: 0.2rem;
  }
  
  /* .inputBox:nth-child(2) input:valid ~ span,
  .inputBox:nth-child(2) input:focus ~ span {
    background-color: blue;
    color: green;
  } */
  

/* .form-input {
    display: block;
    border: none;
    background: none;
    color: var(--main-input-color);
    border-bottom: 2px solid whitesmoke;
    width: 100%;
    margin: 1rem auto 0 auto;
    padding: 1rem 0;
    font-size: 1.8rem;
}
 */

.btn {
    text-decoration: none;
    background: none;
    display: block;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid whitesmoke;
    margin: 1rem auto 0rem auto;
    width: 40%;
    cursor: pointer;
    
}

@keyframes btn-transform {
    from {background-color:  rgba(26,78,114,1)}
    to {background-color: rgba(36,36,39,1);}
   } 

.btn:hover {
    animation-name: btn-transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  
}

/* MAIN ÉPÜLETVILLAMOSSÁG ALOLDAL */


.main-flex-box {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 6rem auto;
    max-width: 75%;
    align-items: center;
    
    
    
}
.flexbox {
    display: flex;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: space-between;
    

}

.service-main-item,
.flex-list {
    list-style: "\2714";
    font-size: 2.3rem;
    padding: 1rem;
  
    
}

p {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 100%;
    word-spacing: 1px;
    
}

.flex-item p {
    padding: 2.3rem;
    word-spacing: 2px;
}
  
.flex-item-img img {
    padding: 0rem;
    width: 500px;
    height: auto;
    border: 2px solid;
    margin-top: 2rem;
}

hr {
    width: 75vw;
    border-width: 2px;
    margin-bottom: 2rem;
}
/* GARANCIÁLIS BEÜZELEMÉS ALOLDAL */

.flex-box {
    display: flex;
    width: 75%;
    margin: 0 auto 2rem auto;
    justify-content: center;
    align-items: center;
}

.brands-img {
    max-width: 500px;
    border: 2px solid #f5f5f5;
}

/* MAIN REFERENCIÁK ALOLDAL */

/* Referenciák - carousel */

/* .ures {
  height: 300px;
} */

.gallery-container {
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  
  .gallery img {
    width: 100%;
  }
  
  

/* FOOTER */
footer {
  margin-bottom: 0rem;

}

.footer-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, #1a4e72 0%, #242427 100%);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0;
}

.menu-list {
    display: flex;
    justify-content: center;
}

.footer-list-item {
    font-size: 1.8rem;
    padding: 1rem;
}

.footer-contact  {
    display: flex;
    justify-content: center;  
}

.footer-contactme {
    font-size: 1.8rem;
    padding: 1rem;
}


 .copy {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
 }

 /*== Scroll Down Arrow ==*/

 .fooldal-top a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 100%;  
    border: 3px solid ;
    bottom: 10px;
    right: 10px;
  }
  
  .fa-chevron-up {
    color: var(--white);
    font-size: 3rem;
  }
    .fa-chevron-up:hover {
      color: whitesmoke;
  
    }
  



/* FOOTER - REFERENCIÁK */
.fullflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}





/* RESZPONZÍV */

@media screen and (max-width: 1400px) {
    .header-bg {
        height: 50vh;
    }
    
    .main-title {
        top: -40vh;
    }

    .main-title, .main-sub-title {
        font-size: 8rem;
        margin-top: 2rem;  
    }

    .main-sub-title {
        padding: 2rem;
    }

    .service-main-item, .flex-list {
       font-size: 2.2rem;
    }

    .callme-box-item-1 p {
        font-size: 2.2rem;
        padding: 1rem;
    }

    .contactme {
        font-size: 2rem;
        padding: 0.5rem;
    }
    .img-szerelo {
        max-width: 300px
    }

    .flex-item-img img{
        max-width: 350px;
    }
}

@media screen and (max-width: 992px) {

    .main-sub-title {
        padding: 0;
        font-size: 5rem;
    }

    .flexbox, .flex-box {
        flex-direction: column;
    }

    .contactme {
        font-size: 1.5rem;
        padding: 0rem;
    }

    form {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 300px;
    }

    .menu {
        overflow: hidden;
        top: -30px;
    }

    .main-sub-title {
        padding: 0;
        font-size: 3rem;
        margin: 4rem 0;
    }

    .flexbox, .flex-box {
        flex-direction: column;
    }

    form {
        width: 70%;
    }

    .nav-list__elem:hover {
        border-bottom: none;
        border-top: none;
    }
         
    .callme-box {
        flex-direction: column;
        justify-content: center;
        
    }

    .callme-box-item-1 {
        max-width: 75%;
        
    }

    .callme-box-item-1 p{
        margin: 1rem auto 1rem auto;
        
    }

    .contactme {
        font-size: 1.5rem;
        padding: 0rem;
    }

    .nav-checkbox__gomb {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        margin: 2rem 2rem 0 0;
    }

    .nav-checkbox__vonal {
        width: 25px;
        height: 3px;
        background: var(--white);
      
    }
    
    .nav-list {
        display: flex; 
        flex-direction: column;  
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        position: fixed;
        min-width: 350px;
        max-width: 350px;
        right: -350px;
        background: rgba(0, 0, 0, 0.594);
        visibility: hidden;
        transition: right 0.4s, visibility 0.4s;
        z-index: 10;
    }

    

    .nav-checkbox:checked ~ .nav-list {
        visibility: visible;
        right: 0;
    }

    .nav-list__elem {
        margin: 0 auto;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        font-weight: 500;
    }

    .menu-list {
        display: none;
    }

}

@media screen and (max-width: 576px) {
    .service-main, .contact {
        font-size: 3.5rem;
    }
    .flex-item p {
        padding: 0 0 2rem 0;
    }

}

@media screen and (max-width: 375px) {
    .header-bg {
        height: -28vh;
    }
    
    .main-title {
        top: -40vh;
    }
    .main-sub-title {
        margin: 1rem;
        font-size: 2rem;
    }

    .service-main, .contact {
        font-size: 3rem;
    }

    .flexbox, .flex-box {
        flex-direction: column;
    }
    form {
        width: 90%;
    }
    .services {
        max-width: 100%;
    }

    .callme-box {
        max-width: 100%;
    }
    p {
        font-size: 1.2rem;
    }
    
    .btn {
        width: 70%;
    }
}

