/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --white: #dcd9d8;
    --black: #242427;
    --grey: #5b5e66;
    --yellow: #f58a15;
    --lightgrey: #95979f;
    
}

* {
    font-size: 10px;
    font-family: 'Montserrat';
    color: #f5f5f5;
    text-decoration: none;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: hsl(240, 4%, 15%);
    
    /*background: linear-gradient(180deg, rgba(26,78,114,1) 0%, rgba(26,78,114,1) 70%, rgba(36,36,39,1) 100%);*/
}

/* HEADER */ 
header {
    background: linear-gradient(180deg, rgba(26,78,114,1) 0%, rgba(36,36,39,1) 100%);
}

.main-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(36, 36, 39, 1)), url("../media/lightningwires.jpg");
    height: 100vh;
    background-size: cover;
}

nav
 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.3rem;
}

.header-box,
.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

img, .logo {
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.logo:hover {
    color: rgb(253, 250, 250);
    transition: color border 0.2s;
}
.menu-list {
    display: flex;   
}

.header-menu-list {
    margin-right: 2rem;
}
.list-item,.footer-list-item {
    font-size: 1.2rem;
    margin: 0rem;
    padding: .5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(36, 36, 39, 1);
}

.list-item:hover {
    color: rgb(253, 250, 250);
    transition: color border 0.2s;
    border-bottom: 1px solid;
    border-top: 1px solid;
    text-shadow: 1px 1px 5px rgba(253, 250, 250, 1)
    

}
.main-title, .main-sub-title {
    font-size: 7rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
    margin-top: 10rem;
    font-family: 'Montserrat';
    text-shadow: 2px 2px 10px rgba(36, 36, 39, 1);
}

.main-sub-title {
    font-size: 5rem;
    margin-top: 0;
    padding: 5rem;
}

/* MAIN */

main {
    background-color: var(--black);
    
   
}
.services {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    justify-content: center;
    
}

.service-main-box {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.service-main, .contact {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem;
    padding-bottom: 1rem;
    
}


.service-main-item {
    font-size: 1.6rem;
    margin: 2.5rem;
}

.callme-box{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    align-items: center;
    
}

.callme-box-item-1 {
    max-width: 40%;
    line-height: 4rem;
}
.callme-box-item-1 p {
    font-size: 2rem;
    padding: 1rem;
    
}


.img-szerelo {
    object-fit: contain;
    margin-top: 2rem;
    width: 100%;
    height: auto;
}


/* ŰRLAP */

.contact {
    border-top: 2px solid;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

form {
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

}

.form-input {
    border: none;
    background: none;
    color: var(--main-input-color);
    border-bottom: 2px solid whitesmoke;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.5rem;
}

::placeholder {
    font-size: 1.5rem;
}

.btn {
    text-decoration: none;
    background: none;
    display: block;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid whitesmoke;
    margin: 1rem auto 0rem auto;
    width: 40%;
    cursor: pointer;
    
}

@keyframes btn-transform {
    from {background-color:  rgba(26,78,114,1)}
    to {background-color: rgba(36,36,39,1);}
   } 

.btn:hover {
    animation-name: btn-transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  
}

/* MAIN ÉPÜLETVILLAMOSSÁG ALOLDAL */


.grid-box {
  
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    max-width: 75%;
    gap: 2rem;     
    align-items: center;
}
.grid-elem-list {
    list-style: "\2714   ";
    padding-left: 1rem;    
}

.grid-list {
    font-size: 1.5rem;
    padding: 1rem;
}

p, .grid-list {
    font-size: 1.5rem;
    max-width: 100%;
    
}
.grid-elem p {
    padding: 1rem;
}
  
.grid-elem-img img {
    object-fit: contain;
    width: 100%;
    height: auto;
    
}

/* MAIN REFERENCIÁK ALOLDAL */

/* FOOTER */


.footer-box {
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #1a4e72 0%, #242427 100%);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer-list-item {
    font-size: 1rem;
}